<form action="/6" method="get">
  <label>First name</label>
  <input type="text" name="firstName" />
  <label>Last name</label>
  <input type="text" name="lastName" />

  <input type="submit" value="Submit" />
</form>